USE [TrainingDb];
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](100) NULL,
	[LevelName] [nvarchar](50) NULL,
	[DurationHours] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 8/9/2026 06:54:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[EnrolledAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[WithdrawnAt] [datetime2](7) NULL,
	[WithdrawalReasonId] [int] NULL,
	[WithdrawalNote] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 8/9/2026 06:54:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[VideoUrl] [nvarchar](500) NULL,
	[LessonOrder] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AvailableFrom] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentLessonProgress]    Script Date: 8/9/2026 06:54:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentLessonProgress](
	[ProgressId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/9/2026 06:54:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PasswordResetCodeHash] [nvarchar](255) NULL,
	[PasswordResetCodeExpiresAt] [datetime] NULL,
	[PasswordResetCodeUsed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalReasons]    Script Date: 8/9/2026 06:54:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalReasons](
	[WithdrawalReasonId] [int] IDENTITY(1,1) NOT NULL,
	[ReasonText] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WithdrawalReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [Category], [LevelName], [DurationHours], [InstructorId], [IsPublished], [IsDeleted], [CreatedAt]) VALUES (1, N'C# Fundamentals', N'Learn the fundamentals of C# programming from variables to object-oriented programming.', N'Programming', N'Beginner', 25, 2, 1, 0, CAST(N'2026-07-25T00:15:23.3100000' AS DateTime2))
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [Category], [LevelName], [DurationHours], [InstructorId], [IsPublished], [IsDeleted], [CreatedAt]) VALUES (2, N'ASP.NET Core Web API', N'Build RESTful APIs using ASP.NET Core, Entity Framework Core and SQL Server.', N'Backend Development', N'Intermediate', 35, 2, 1, 0, CAST(N'2026-07-25T00:15:23.3100000' AS DateTime2))
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [Category], [LevelName], [DurationHours], [InstructorId], [IsPublished], [IsDeleted], [CreatedAt]) VALUES (3, N'React Fundamentals', N'Build modern user interfaces using React, Hooks and component-based architecture.', N'Frontend Development', N'Beginner', 30, 2, 1, 0, CAST(N'2026-07-25T00:15:23.3100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [Status], [EnrolledAt], [CompletedAt], [WithdrawnAt], [WithdrawalReasonId], [WithdrawalNote]) VALUES (1, 3, 2, N'Withdrawn', CAST(N'2026-07-25T01:01:19.9555804' AS DateTime2), NULL, CAST(N'2026-07-30T14:19:28.4189183' AS DateTime2), 1, NULL)
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [Status], [EnrolledAt], [CompletedAt], [WithdrawnAt], [WithdrawalReasonId], [WithdrawalNote]) VALUES (2, 3, 1, N'Withdrawn', CAST(N'2026-07-25T00:58:11.4611778' AS DateTime2), NULL, CAST(N'2026-07-30T14:21:06.0478060' AS DateTime2), 3, N'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
INSERT [dbo].[Enrollments] ([EnrollmentId], [StudentId], [CourseId], [Status], [EnrolledAt], [CompletedAt], [WithdrawnAt], [WithdrawalReasonId], [WithdrawalNote]) VALUES (3, 3, 3, N'Enrolled', CAST(N'2026-07-25T00:54:12.3310884' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [CourseId], [Title], [Content], [VideoUrl], [LessonOrder], [IsDeleted], [CreatedAt], [AvailableFrom]) VALUES (1, 1, N'Introduction to C#', N'Learn what C# is, where it is used, and how to prepare your development environment.', N'https://www.youtube.com/watch?v=gfkTfcpWqAY', 1, 0, CAST(N'2026-07-25T00:18:40.3000000' AS DateTime2), CAST(N'2026-07-30T11:11:16.6844833' AS DateTime2))
INSERT [dbo].[Lessons] ([LessonId], [CourseId], [Title], [Content], [VideoUrl], [LessonOrder], [IsDeleted], [CreatedAt], [AvailableFrom]) VALUES (2, 1, N'Variables and Data Types', N'Understand variables, primitive data types, constants, and type conversion.', N'https://www.youtube.com/watch?v=gfkTfcpWqAY', 2, 0, CAST(N'2026-07-25T00:18:40.3000000' AS DateTime2), CAST(N'2026-07-30T11:11:16.6844833' AS DateTime2))
INSERT [dbo].[Lessons] ([LessonId], [CourseId], [Title], [Content], [VideoUrl], [LessonOrder], [IsDeleted], [CreatedAt], [AvailableFrom]) VALUES (3, 1, N'Control Flow', N'Learn if statements, switch expressions, loops, break and continue statements.', N'https://www.youtube.com/watch?v=gfkTfcpWqAY', 3, 0, CAST(N'2026-07-25T00:18:40.3000000' AS DateTime2), CAST(N'2026-07-30T11:11:16.6844833' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentLessonProgress] ON 

INSERT [dbo].[StudentLessonProgress] ([ProgressId], [EnrollmentId], [LessonId], [IsCompleted], [CompletedAt]) VALUES (2, 2, 1, 1, CAST(N'2026-07-25T00:58:49.0669530' AS DateTime2))
INSERT [dbo].[StudentLessonProgress] ([ProgressId], [EnrollmentId], [LessonId], [IsCompleted], [CompletedAt]) VALUES (3, 2, 2, 1, CAST(N'2026-07-25T00:58:49.9856108' AS DateTime2))
INSERT [dbo].[StudentLessonProgress] ([ProgressId], [EnrollmentId], [LessonId], [IsCompleted], [CompletedAt]) VALUES (4, 2, 3, 1, CAST(N'2026-07-25T00:58:51.2542140' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StudentLessonProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [UserRole], [IsActive], [CreatedAt], [PasswordResetCodeHash], [PasswordResetCodeExpiresAt], [PasswordResetCodeUsed]) VALUES (1, N'abdullah', N'admin@test.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Admin', 1, CAST(N'2026-07-24T23:52:40.8343989' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [UserRole], [IsActive], [CreatedAt], [PasswordResetCodeHash], [PasswordResetCodeExpiresAt], [PasswordResetCodeUsed]) VALUES (2, N'abdurhman', N'teacher@test.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Instructor', 1, CAST(N'2026-07-25T00:08:08.3155838' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [UserRole], [IsActive], [CreatedAt], [PasswordResetCodeHash], [PasswordResetCodeExpiresAt], [PasswordResetCodeUsed]) VALUES (3, N'Mubark', N'student@test.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Student', 1, CAST(N'2026-07-25T00:20:25.7983021' AS DateTime2), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WithdrawalReasons] ON 

INSERT [dbo].[WithdrawalReasons] ([WithdrawalReasonId], [ReasonText], [IsActive]) VALUES (1, N'Course is too long', 1)
INSERT [dbo].[WithdrawalReasons] ([WithdrawalReasonId], [ReasonText], [IsActive]) VALUES (2, N'I did not like the content', 1)
INSERT [dbo].[WithdrawalReasons] ([WithdrawalReasonId], [ReasonText], [IsActive]) VALUES (3, N'No longer interested', 1)
SET IDENTITY_INSERT [dbo].[WithdrawalReasons] OFF
GO
/****** Object:  Index [IX_Courses_InstructorId]    Script Date: 8/9/2026 06:54:37 م ******/
CREATE NONCLUSTERED INDEX [IX_Courses_InstructorId] ON [dbo].[Courses]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Enrollments_Student_Course]    Script Date: 8/9/2026 06:54:37 م ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [UQ_Enrollments_Student_Course] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_CourseId]    Script Date: 8/9/2026 06:54:37 م ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_CourseId] ON [dbo].[Enrollments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Lessons_Course_LessonId]    Script Date: 8/9/2026 06:54:37 م ******/
ALTER TABLE [dbo].[Lessons] ADD  CONSTRAINT [UQ_Lessons_Course_LessonId] UNIQUE NONCLUSTERED 
(
	[CourseId] ASC,
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Lessons_Course_LessonOrder]    Script Date: 8/9/2026 06:54:37 م ******/
ALTER TABLE [dbo].[Lessons] ADD  CONSTRAINT [UQ_Lessons_Course_LessonOrder] UNIQUE NONCLUSTERED 
(
	[CourseId] ASC,
	[LessonOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Progress_Enrollment_Lesson]    Script Date: 8/9/2026 06:54:37 م ******/
ALTER TABLE [dbo].[StudentLessonProgress] ADD  CONSTRAINT [UQ_Progress_Enrollment_Lesson] UNIQUE NONCLUSTERED 
(
	[EnrollmentId] ASC,
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Progress_LessonId]    Script Date: 8/9/2026 06:54:37 م ******/
CREATE NONCLUSTERED INDEX [IX_Progress_LessonId] ON [dbo].[StudentLessonProgress]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053476B0611E]    Script Date: 8/9/2026 06:54:37 م ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Withdraw__04EF0F4026140F5A]    Script Date: 8/9/2026 06:54:37 م ******/
ALTER TABLE [dbo].[WithdrawalReasons] ADD UNIQUE NONCLUSTERED 
(
	[ReasonText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT ('Enrolled') FOR [Status]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (sysdatetime()) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (sysdatetime()) FOR [AvailableFrom]
GO
ALTER TABLE [dbo].[StudentLessonProgress] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [PasswordResetCodeUsed]
GO
ALTER TABLE [dbo].[WithdrawalReasons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Users_Instructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Users_Instructor]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users_Student]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_WithdrawalReasons] FOREIGN KEY([WithdrawalReasonId])
REFERENCES [dbo].[WithdrawalReasons] ([WithdrawalReasonId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_WithdrawalReasons]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Courses]
GO
ALTER TABLE [dbo].[StudentLessonProgress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Enrollments] FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([EnrollmentId])
GO
ALTER TABLE [dbo].[StudentLessonProgress] CHECK CONSTRAINT [FK_Progress_Enrollments]
GO
ALTER TABLE [dbo].[StudentLessonProgress]  WITH CHECK ADD  CONSTRAINT [FK_Progress_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[StudentLessonProgress] CHECK CONSTRAINT [FK_Progress_Lessons]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CK_Courses_DurationHours] CHECK  (([DurationHours]>(0)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CK_Courses_DurationHours]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [CK_Enrollments_Status] CHECK  (([Status]='Withdrawn' OR [Status]='Completed' OR [Status]='Enrolled'))
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [CK_Enrollments_Status]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [CK_Enrollments_StatusDates] CHECK  (([Status]='Enrolled' AND [CompletedAt] IS NULL AND [WithdrawnAt] IS NULL AND [WithdrawalReasonId] IS NULL OR [Status]='Completed' AND [CompletedAt] IS NOT NULL AND [WithdrawnAt] IS NULL AND [WithdrawalReasonId] IS NULL OR [Status]='Withdrawn' AND [CompletedAt] IS NULL AND [WithdrawnAt] IS NOT NULL AND [WithdrawalReasonId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [CK_Enrollments_StatusDates]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [CK_Lessons_LessonOrder] CHECK  (([LessonOrder]>(0)))
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [CK_Lessons_LessonOrder]
GO
ALTER TABLE [dbo].[StudentLessonProgress]  WITH CHECK ADD  CONSTRAINT [CK_Progress_CompletedAt] CHECK  (([IsCompleted]=(0) AND [CompletedAt] IS NULL OR [IsCompleted]=(1) AND [CompletedAt] IS NOT NULL))
GO
ALTER TABLE [dbo].[StudentLessonProgress] CHECK CONSTRAINT [CK_Progress_CompletedAt]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_UserRole] CHECK  (([UserRole]='Admin' OR [UserRole]='Instructor' OR [UserRole]='Student'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_UserRole]
GO
